<div id="<%= dom_id test %>">
  <p>
    <strong>Title:</strong>
    <%= test.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= test.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= test.age %>
  </p>

</div>
